/* 배경 스타일 */
.mainContent {
  background: black;
  position: relative;
  display: flex;
  width: 100vw;
  /* height: 100vh; */
}

/* 조명 이미지 */
.mainContent.light {
  position: relative;
  z-index: 1; /* z-index를 추가하여 가장 아래에 위치하도록 설정 */
}

/* 작은 직사각형 이미지 1 */
.mainContent.small-rect1 {
  /* background: url('/section01-2.png'); */
  position: relative;

  z-index: 2; /* z-index를 추가하여 두 번째로 위에 위치하도록 설정 */
}

/* 작은 직사각형 이미지 2 */
.mainContent.small-rect2 {
  /* background: url(작은직사각형2.jpg);  */

  position: relative;
  z-index: 3; /* z-index를 추가하여 가장 위에 위치하도록 설정 */
}
