$gray: gray;
$black: black;
$white: white;

.App {
  font-family: Arial, sans-serif;
}

// 헤더
.header {
  width: 100vw;
  height: 100px;
  background-color: $black;
}

// 메인 첫번째 section
.main {
  width: 100vw;
  height: 2400px;
  background-color: $black;

  .imgBox1 {
    width: 384px;
    height: 431px;
    background-color: $gray;
    position: absolute;
    top: 330px;
    left: 360px;

    .subText1 {
      width: 349px;
      height: 191px;
      font-size: 22px;
      line-height: 40px;
      color: $white;
      position: absolute;
      top: 111px;
      left: 300px;
    }
  }

  .imgBox2 {
    width: 586px;
    height: 564px;
    background-color: $gray;
    position: absolute;
    top: 1610px;
    left: 770px;

    .mainText {
      width: 690px;
      height: 452px;
      font-size: 200px;
      line-height: 250px;
      color: $white;
      position: absolute;
      top: -580px;
      left: -360px;
    }

    .subText2 {
      width: 600px;
      height: 110px;
      font-size: 40px;
      line-height: 72px;
      color: $white;
      position: absolute;
      top: 111px;
      left: -348px;
    }

    .subText3 {
      width: 349px;
      height: 191px;
      font-size: 22px;
      line-height: 40px;
      color: $white;
      position: absolute;
      top: 400px;
      left: 400px;
    }
  }
}

// 메인페이지 신제품소개 section (newProduct)
.newProduct {
  width: 100vw;
  height: 1080px;
  background-color: $gray;
  display: flex;

  .imgBox {
    width: 50%;
    height: 100%;
    background-color: #cccbc7;
  }
  .textBox {
    width: 50%;
    height: 100%;

    .mainText1 {
      //   width: 349px;
      //   height: 191px;
      font-size: 100px;
      //   position: absolute;

      color: $white;

      top: 344px;
      left: 200px;
    }
    .subText1 {
      font-size: 32px;

      color: $white;

      //   top: 111px;
      //   left: 400px;
    }
    .subText2 {
      //   width: 349px;
      //   height: 191px;
      font-size: 22px;

      color: $white;

      //   top: 111px;
      //   left: 400px;
    }
  }
}

// 메인 디자이너 section
.designer {
  width: 5760px;
  height: 1080px;
  background-color: $black;
}

// 메인 추천 제품 section
.mainSub02 {
  width: 100vw;
  height: 1080px;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  .circle {
    width: 700px;
    height: 700px;
    background-color: $white;
    border-radius: 50%;
  }
}

.productList {
  width: 100vw;
  height: 3000px;
  background-color: $black;
  display: flex;

  .product-box {
    width: 300px; // 6 boxes in a row
    height: 400px;
    background-color: $gray;
  }
}

.mainSub03 {
  width: 100vw;
  height: 1080px;
  background-color: $white;
  display: flex;

  .circle {
    width: 200px;
    height: 200px;
    background-color: $white;
    border-radius: 50%;
  }
}

.footer {
  width: 100vw;
  height: 500px;
  background-color: $black;
}
