.header {
  background: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고 이미지의 너비 조정 */
.logo img {
  width: 100px;
}

.menu ul {
  list-style: none;
  display: flex;
}

/* 메뉴 아이템 간격 조정 */
.menu li {
  margin-right: 20px;
}

/* 링크 컬러 트랜지션 효과 */
.menu a {
  text-decoration: none;
  color: white;
  /* font-weight: bold; */
  transition: color 0.3s;
}

/* 링크에 호버 시 색상 변경 */
.menu a:hover {
  color: gray;
}
